
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Quicksand', sans-serif;
}


h1 {
    text-align: center;
    font-size: 6rem;    
}

a {
    text-decoration: none;
}

.nombre_campaña {
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 10%;
}
.button {
    border-top: 1px solid #96d1f8;
    background: #2f729e;
    background: -webkit-gradient(linear, left top, left bottom, from(#a2c4db), to(#2f729e));
    background: -webkit-linear-gradient(top, #a2c4db, #2f729e);
    background: -moz-linear-gradient(top, #a2c4db, #2f729e);
    background: -ms-linear-gradient(top, #a2c4db, #2f729e);
    background: -o-linear-gradient(top, #a2c4db, #2f729e);
    padding: 10px 20px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1d2a33;
    background: #1d2a33;
}

.border {
    border-radius: 25px;
}

.img_login {
    
    max-width: 40%;
    max-height: 50%;
}

.contenedor {
    max-width: 250px;
    margin: 0 auto;
}

.form_login {
    text-align: center;
}




.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(4, 69, 155, 0.74);
    -moz-box-shadow: 0px 5px 15px 0px rgba(8, 6, 133, 0.74);
    box-shadow: 0px 5px 15px 0px rgba(23, 41, 209, 0.74);
    padding: 1.0em; 
    border-radius: 1rem;
    max-width: auto;
}


.contenido_principal{
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.alineador {
    text-align: center;
}

.alineador_derecha {
    text-align: right; 
    font-family: sans-serif;
    padding-right: 110px;
    text-decoration: none;
    font-weight: bold;
}

.grid {
   align-items: center;
   column-gap: 30px;
}

.boton {
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5px;
    text-align: center;
}

.tabla_campañas {
    column-gap: 10px;
    text-align: center;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.form {
    width: 100%;
}

.form_radius {
    border-radius: 25px;
}

.text-white {
    padding-top: 15px;
}